<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>
 
<p>
  <strong>Area:</strong>
  <%= @employee.area %>
</p>
<p>
  <strong>City:</strong>
  <%= @employee.city %>
</p>

<%= link_to 'Back',employees_path %>
